body {
	margin:0;
}
header {
	background-color:#075758;
	color:white;
	text-align:center;
	padding:1px;
	top:0px;
	position:relative;
	width:100%;
}
nav {
	margin: 0;
	padding: 0;
	width:100%
}

#nav-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width:100%;
	background-color:#072024;
	overflow: hidden;
	border: 1px solid #0A393F;
}
li {
	float: left;
}
li a {
	display: block;
	padding: 8px;
	color: white;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover{
	background-color:#0A393F
}
section {
	/*height:30vh;*/
	padding:5px;
	background-color:#89BF9F;
	color:#0C716B;
	border: 1px solid #0A393F;
}
section#intro {
	height:30vh;
	padding:5px;
	background-color:#89BF9F;
	color:#0C716B;
	border: 1px solid #0A393F;
}
section#tableLivros {
	padding:5px;
	height:100vh;
	background-color:#89BF9F;
	color:#0C716B;
}
table, td {
	border: 1px solid #0A393F;
	border-collapse: collapse;
	text-align: left;
	width:500px;
}
td {
	border: 1px solid #0A393F;
	border-collapse: collapse;
	text-align: left;
	width:500px;
	padding:15px;
}
th {
	text-align:center;
	padding:15px;
	background-color:#072024;

}
tr:nth-child(even) {
	background-color:#0C716B;
	color:white;
}
form{
	float:left;
	clear:both;
}
#cssimg{
	width:8%;
	heigth:8%;
	padding: 3px;
}
#htmlimg{
	width:8%;
	heigth:8%;
}
footer {
	background-color:#075758;
	color:white;
	text-align:center;
	padding:5px;
	clear:both;
	bottom:0;
}
