<!DOCTYPE html>
<!DOCTYPE html>
<html lang='en-US'>
<head>
    <title>B1bl10t3c4</title>
    <meta charset='UTF-8'>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="js/db.js"></script>
    <script src="js/lib.js"></script>
    <script src="js/index.js"></script>
</head>
<body data-ng-app="lib">
<nav class="cyan lighten-2">
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo right">B1bl10t3c4</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="hide-on-med-and-down">
            <li><!--suppress HtmlUnknownTarget -->
                <a href="/contador">Contador</a></li>
            <li><!--suppress HtmlUnknownTarget -->
                <a href="/api">API</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <
            <li><!--suppress HtmlUnknownTarget -->
                <a href="/contador">Contador</a></li>
            <li><!--suppress HtmlUnknownTarget -->
                <a href="/api">API</a></li>
        </ul>
    </div>
</nav>
<main class="container" data-ng-controller="libController as lib">
    <div class="fixed-action-btn" style="bottom: 5px; right: 24px;">
        <a class="modal-trigger btn-floating btn-large waves-effect waves-light cyan darken-3"
           style="bottom: 45px; right: 24px;"
           data-target="addBook">
            <i class="material-icons">add</i>
        </a>
    </div>
    <div id="addBook" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Adicionar Livro</h4>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input data-ng-model="lib.newTitle" id="titulo" type="text" class="validate">
                            <label for="titulo">Título</label>
                        </div>
                    </div>
                </form>
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input data-ng-model="lib.newAutor" id="autor" type="text" class="validate">
                            <label for="autor">Autor</label>
                        </div>
                    </div>
                </form>
                <form class="col s6">
                    <div class="row">
                        <div class="input-field col s12">
                            <input ng-model="lib.newPrice" id="preco" type="number" step="0.01" class="validate">
                            <label for="preco">Preço</label>
                        </div>
                    </div>
                </form>
                <form class="col s6 ">
                    <div class="row">
                        <div class="input-field col s12">
                            <input data-ng-model="lib.newFoto" placeholder="URL da imagem" id="foto" type="text"
                                   class="validate">
                            <label for="foto">Foto</label>
                        </div>
                    </div>
                </form>
                <form class="col s12">
                    <div class="row">
                        <label for="desc">Descrição</label>
                        <textarea data-ng-model="lib.newDesc" id="desc" class="materialize-textarea"></textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a data-ng-click="lib.addLivro(lib.newTitle, lib.newAutor, lib.newDesc, lib.newFoto, lib.newPrice)" href="#"
               class="modal-action modal-close waves-effect waves-green btn-flat ">Adicionar</a>
        </div>
    </div>
    <div id="editBook" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Editar Livro</h4>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input data-ng-model="lib.selected.titulo" id="edtTitulo" type="text" class="validate">
                            <!--<label for="edtTitulo">Título</label>-->
                        </div>
                    </div>
                </form>
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input data-ng-model="lib.selected.autor" id="editAutor" type="text" class="validate">
                            <!--<label for="editAutor">Autor</label>-->
                        </div>
                    </div>
                </form>
                <form class="col s6">
                    <div class="row">
                        <div class="input-field col s12">
                            <input data-ng-model="lib.selected.preco" id="editPreco" type="number" step="0.01"
                                   class="validate">
                            <!--<label for="editPreco">Preço</label>-->
                        </div>
                    </div>
                </form>
                <form class="col s6 ">
                    <div class="row">
                        <div class="input-field col s12">
                            <input data-ng-model="lib.selected.foto" placeholder="URL da imagem" id="editFoto"
                                   type="url" accept=".jpg" class="validate">
                            <!--<label for="editFoto">Foto</label>-->
                        </div>
                    </div>
                </form>
                <form class="col s12">
                    <form class="col s12">
                        <div class="row">
                            <label for="editDesc">Descrição</label>
                        <textarea data-ng-model="lib.selected.desc" id="editDesc"
                                  class="materialize-textarea"></textarea>
                        </div>
                    </form>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a data-ng-click="lib.updateLivro(lib.selected ,lib.selected.titulo, lib.selected.autor, lib.selected.desc, lib.selected.foto, lib.selected.preco)"
               href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Adicionar</a>
        </div>
    </div>

    <div class="section">
        <div class="row">
            <div class="col s12 m12 l4" ng-repeat="livro in lib.livros">
                <script>
                    $(document).ready(function () {
                        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
                        $('.modal-trigger').leanModal();
                    });
                </script>
                <div class="    card ">
                    <div class="card-image waves-effect waves-block waves-light">
                        <div class="fixed-action-btn top-right">

                        </div>
                        <!--suppress HtmlUnknownTarget -->
                        <img src="{{livro.foto}}"
                             class="responsive-img activator">
                    </div>
                    <div class="card-content">
                        <p class="area">
                            <a href="#">{{livro.autores}}</a>
                        </p>
                        <a href="#">
                            <span class="card-title activator pink-text text-darken-4" style="font-size: 18px">{{livro.titulo}}</span>
                        </a>
                    </div>
                    <div class="card-reveal">
                <span class="card-title pink-text text-darken-4">{{livro.titulo}}<i
                        class="material-icons right">close</i>    </span>
                        <p class="cyan-text text-darken-3">{{livro.desc}}</p>
                        <p class="red-text text-lighten-2">{{livro.preco}} R$</p>

                        <div class="card-action">
                            <div class="fixed-action-btn horizontal click-to-toggle bottom-right">
                                <a class="btn-floating cyan darken-1 btn-large">
                                    <i class="material-icons">menu</i>
                                </a>
                                <ul>
                                    <li>
                                        <a data-ng-click="lib.select(livro)"
                                           class="btn-floating yellow darken-1 modal-trigger"
                                           href="#commentModal">
                                            <i class="material-icons">comment</i>
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="lib.select(livro)" class=" modal-trigger btn-floating blue"
                                           href="#editBook">
                                            <i class="material-icons">mode_edit</i>
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="lib.select(livro);lib.deleteLivro(lib.findLivro(lib.selected.titulo))"
                                           class="btn-floating red">
                                            <i class="material-icons">remove</i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="commentModal" class="modal bottom-sheet">
            <div class="modal-content">
                <ul class="collapsible" data-collapsible="accordion" ng-repeat="comment in lib.selected.comments">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">format_quote</i>{{comment.titulo}}
                        </div>
                        <div class="collapsible-body"><p>{{comment.texto}}</p></div>
                    </li>
                    <!--<script>$('.collapsible').collapsible();</script>-->
                </ul>
            </div>
            <div class="modal-footer">
                <a href="#addComment" class="modal-trigger modal-action modal-close waves-effect waves-green btn-flat">Adicionar</a>
            </div>
        </div>
        <div id="addComment" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>Adicionar Comentario</h4>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input data-ng-model="lib.newCommentTitle" id="addTitle" type="text" class="validate">
                                <label for="addTitle">Título</label>
                            </div>
                        </div>
                    </form>
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input data-ng-model="lib.newCommentAutor" id="addAutor" type="text" class="validate">
                                <label for="addAutor">Autor</label>
                            </div>
                        </div>
                    </form>
                    <form class="col s12">
                        <div class="row">
                            <label for="addDesc">Descrição</label>
                        <textarea data-ng-model="lib.newCommentDesc" id="addDesc"
                                  class="materialize-textarea"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a data-ng-click="lib.selected.addComment(lib.newCommentAutor, lib.newCommentTitle, lib.newCommentDesc)"
                   href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Adicionar</a>
            </div>
        </div>
    </div>
</main>
<footer class="page-footer cyan lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">B1bl10t3c4</h5>
                <p class="grey-text text-lighten-4">Aplicação em AngularJs desenvolvida para a disciplina P3</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Lucas Cavalcante
            <a id="github-button" href="https://github.com/lcavalcante/b1bl10t3c4" class="btn light-cyan right grey-text text-lighten-5 waves-effect waves-light hide-on-small-only">Github</a>
        </div>
    </div>
</footer>

</body>
</html>
